

<img id="Image-Maps-Com-image-maps-2018-07-30-083438" 
    src="http://www.image-maps.com/m/private/0/f17nlrg39nr148es9oun9m9k50_gatx-1754x1171.jpg" 
     border="0" width="90%" height="65%" orgWidth="1754" orgHeight="1171" usemap="#image-maps-2018-07-30-083438" alt="" />
<map name="image-maps-2018-07-30-083438" id="ImageMapsCom-image-maps-2018-07-30-083438">
<area  alt="" title="zone1" shape="rect" coords="0,0,844,1171" style="outline:none;" target="_self" (click)="addItemL()"      />
<area  alt="" title="zone2" shape="rect" coords="995,2,1754,1171" style="outline:none;" target="_self" (click)="addItemR()"   />
<area shape="rect" coords="1752,1169,1754,1171" alt="Image Map" style="outline:none;" title="Image Map"     />
</map>

<div class="col">
    <p>Your selected Items Left ({{ itemCountL }})</p>
    <p>Your selected Items Right ({{ itemCountR }})</p>
</div>

